
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  width: 100%;
  justify-content: space-between;
  }
.logo {
  display: inline-flex;
  align-items: center;
}
.logotext {
  padding-left: 20px;
}

.menu {
  display: inline-flex;
  align-items: center;
  justify-items: flex-end;

}
.menu-item {
  padding: 20px;
  justify-content: flex-end;
  color: black;
  text-decoration: none;
}
a {
  color: black;
}
