
header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  }
.logo {
  display: inline-flex;
  align-items: center;
}
.logotext {
  padding-left: 20px;
}

.menu {
text-align: center;


}
.menu-item {
display: inline-block;
}
